
head
  title Hi! Meteor!

body
  +posts
  
template(name="posts")
  h2 UserName : 
  input#insertUsername
  h2 post : 
  input#insertPost
  hr
  each posts
    +post

template(name="post")
  hr
  if author
    h2 {{author}} says: {{text}}
  else
    h2 Anonymous says: {{text}}
  hr

