
head
  title Hi! Meteor!

body
  +posts
  

template(name="posts")
  if testVar3
    h2 {{testVar1}}
  if testVar4
    h2 {{testVar2}}
  h2 {{testVar5}}
  h2 {{testVar6}}
  h2 {{testObjVar.abc}} {{testObjVar.def}}
  h2 {{testObjVar}}
  h2 {{testFnVar testObjVar.abc testObjVar.def}} 
  +post1
  +post2
  +post3


template(name="post1")
  hr
  h2 Hi! Meteor! 
  hr

template(name="post2")
  hr
  h2 Meteor is great!
  hr

template(name="post3")
  hr
  h2 Meteor is the best!
  hr

