
head
  title Hi! Meteor!

body
  +posts
  

template(name="posts")
  h2 {{testVar1}}
  +post1
  +post2
  +post3


template(name="post1")
  hr
  h2 Hi! Meteor! 
  hr

template(name="post2")
  hr
  h2 Meteor is great!
  hr

template(name="post3")
  hr
  h2 Meteor is the best!
  hr

