
head
  title Hi! Meteor!

body
  +posts
  
template(name="posts")
  each posts
    +post

template(name="post")
  hr
  if author
    h2 {{author}} says: {{text}}
  else
    h2 Anonymous says: {{text}}
  hr

