
head
  title Hi! Meteor!

template(name="layout")
  +navBar
  +yield


template(name="navBar")
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle(type="button",data-toggle="collapse",data-target=".navbar-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar

        a.navbar-brand(href="{{pathFor 'index'}}") Hi!Meteor!
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li.nav.navbar-nav
            a(href="#") About

          li.nav.navbar-nav
            a(href="#") Posts

          li.nav.navbar-nav
            a(href="{{pathFor 'user'}}") Users


        ul.nav.navbar-nav.navbar-right
          li
            +loginButtons

template(name="user")
  .container
    .row.clearfix
      .col-md-12.column
        h2 post : 
        input#insertPost
        hr
        each posts
          +post

template(name="show")
  .container
    .row.clearfix
      .col-md-12.column
        h2 {{words}}

template(name="index")
  .container
    .row.clearfix
      .col-md-12.column
        h2 post : 
        input#insertPost
        hr
        each posts
          +post

    
  
template(name="post")
  hr
  if author
    h2 {{userId}} {{author}} says: {{text}}
  else
    h2 Anonymous says: {{text}}
  hr


template(name="pleaseLogin")
  .container
    .row.clearfix
      .col-md-12.column
        h1 Please login!